body {
    background-color: lightblue;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
    height: 10rem;
    background-color: red;
}